html{
    box-sizing: border-box;
}

body{
    background-image: url('images/groundback.jpg');
    -webkit-background-size: cover;
    width: 100vw;
    height: 100vh;
}

ul, li, a{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3vmin;
    text-shadow: 2px 2px 100px #21f800;
}

ul li a:hover {
    color: white;
    text-decoration: none;
}

h1{
    color: white;
    font-size: 8vmin;
    text-shadow: 2px 2px 100px #21f800;
}


.card{
    position: relative;
    width:16.6%;
    height:33.3%;
}

.front, .back{
    position: absolute;
}

/*.back{*/
    /*display: none;*/
/*}*/



.label, .value, .reset{
    font-size: 4vmin;
}

.stats{
    /*border: 1px solid black;*/
    width: 20vw;
    height: 70vh;
    float: left;
    position: relative;
}

.game{

    width: 70vw;
    height: 70vh;
    /*border: 1px solid red;*/
    float: right;
}

.navbar{
    /*border: 1px solid blue;*/
    width: 100vw;
    height: 20vh;
    clear: both;
}

.game img {
    width: 17vmin;
}

#logo img{
    width: 35vmin;
}

.stats div{
    height: 15vh;

}



















