html{
    box-sizing: border-box;
}

body{
    background-image: url('images/groundback.jpg');
    -webkit-background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Bowlby One SC', cursive;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.dropdown-list{
    cursor: pointer;
}

ul, li, a{
    color: white;
    font-size: 3vmin;
    -webkit-text-stroke: 1px black;
}



.nav > li > a:hover{
    background-color: transparent;
    color: inherit;
}

a:visited{
    color: inherit;
    background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}



.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

h1{
    font-size: 8vmin;
    margin: 0 auto;
    font-weight:700;

}

.card{
    position: relative;
    width:16.6%;
    height:33.3%;
    transition-duration: 1s;
    animation: spin 2s  linear;
    animation-iteration-count: 1;
}

@keyframes spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.damn{
    transition-duration:1s;
    animation: spin 2s linear;
    animation-iteration-count: 1;
}


.front, .back{
    position: absolute;
}

.label, .value, .reset{
    font-size: 4vmin;
}

.stats{

    width: 20vw;
    height: 70vh;
    float: left;
    position: relative;
    color: white;
}

.game{
    width: 70vw;
    height: 70vh;
    float: right;
}

.navbar{

    width: 100vw;
    height: 20vh;
    clear: both;
}

.game img {
    width: 17vmin;
}

#logo img{
    width: 35vmin;
}

.stats div{
    height: 15vh;

}

.reset{
    border-radius: 20px;
    background-color: red;
}

.modal-content{
    background-color: transparent;
    box-shadow: none;
    border: none;
}
.modal-body img{
    height: 70vh;
}

.close{
    font-size: 3vw;
    opacity: 1;
    outline: none;
    color: mediumvioletred;
}

.close:hover{
    color: mediumvioletred;
}

.modal-header{
    padding:0;
    border: none;

}


.hidden{
    visibility: hidden;
}

*{
    user-select: none;
}


.designer_img img{
    height: auto;
}


.aboutInfo > a, .aboutInfo > h3{
    font-size: 3vmin;
    text-decoration: none;

}



