html{
    box-sizing: border-box;
}

body{
    background-image: url('images/groundback.jpg');
    -webkit-background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Bowlby One SC', cursive;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}



ul, li, a{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3vmin;
    text-shadow: 2px 2px 100px #21f800;
    -webkit-text-stroke: 1px black;
    color: white;

}

ul li a:hover {
    color: white;
    text-decoration: none;
}

h1{
    font-size: 8vmin;
}

.card{
    position: relative;
    width:16.6%;
    height:33.3%;
    transition-duration: 1s;
    animation: spin 2s  linear;
    animation-iteration-count: 1;
}

@keyframes spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}


.front, .back{
    position: absolute;
}

.label, .value, .reset{
    font-size: 4vmin;
}

.stats{
    /*border: 1px solid black;*/
    width: 20vw;
    height: 70vh;
    float: left;
    position: relative;
    color: white;
}

.game{
    width: 70vw;
    height: 70vh;
    /*border: 1px solid red;*/
    float: right;
}

.navbar{
    /*border: 1px solid blue;*/
    width: 100vw;
    height: 20vh;
    clear: both;
}

.game img {
    width: 17vmin;
}

#logo img{
    width: 35vmin;
}

.stats div{
    height: 15vh;

}

.reset{
    border-radius: 20px;
    background-color: red;
}

.modal-content{
    background-color: transparent;
    box-shadow: none;
    border: none;
}


/*.modal-body{*/
    /*padding: 0;*/
/*}*/

.modal-body img{
    height: 70vh;
}

.close{
    font-size: 3vw;
    opacity: 1;
    outline: none;
    color: mediumvioletred;
}

.close:hover{
    color: mediumvioletred;
}

.modal-header{
    padding:0;
    border: none;

}


.hidden{
    visibility: hidden;
}


*{
    user-select: none;
}










